.header {
    background-color: #f6f6f6 !important;
    border-bottom: none !important;
}
.ant-menu-horizontal {
    border-bottom: none;
}
.ant-menu {
    background: #f6f6f6;
}
#__next {
    height: 100vh;
}
.home-main {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3.2rem - 4rem);
}
.home-nav {
    margin: 4rem;
}
.home-nav>span {
    margin: 0 .5em;
}